main .thread {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 10px; 
  border-radius: 5px;
}
main h3 {
  margin: 0;
}

main a {
  color: inherit;
  text-decoration: none;
}
