body {
    font-family: Arial, sans-serif;
    background-color: var(bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 5px 0px var(--accent-color);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

h1 {
    font-size: 30px;
    color: var(--darker-accent-color);
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 10px;
    width: 100%;
}

input {
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.loginbtn {
    font-size: 18px;
}

.register-link, .login-link {
    font-size: 14px;
    color: var(--darker-accent-color);
}

a {
    text-decoration: none;
    color: var(--darker-accent-color);
    font-weight: bold;
}
